.command-list {
  -fx-background-insets: 0 0 0 0;
  -fx-selection-bar-non-focused: #0096c9;
}

.command-list .list-cell {
  -fx-border-width: 1 1 0 1;
  -fx-border-color: #000;
}

.command-list .last-cell {
  -fx-border-width: 1 1 1 1;
}

.command-list .empty-cell {
  -fx-border-width: 0 1 1 1;
}

.memory-table {
  -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
  -fx-background-insets: 0, 1, 2;
  -fx-background-radius: 5, 4, 3;
}

.memory-table .table-cell {
  -fx-background-color: inherit;
}

.memory-table .vm-cell {
  -fx-background-color: #d5e8d4;
  -fx-background-insets: 0, 0, 0;
}

.memory-table:focused .vm-cell:selected {
  -fx-background-color: -fx-background, -fx-cell-focus-inner-border, -fx-background;
  -fx-background-insets: 0, 1, 2;
}

.memory-table .vm-cell:selected {
  -fx-background-color: inherit;
  -fx-background-insets: 0, 0, 0;
}

.command-pointer {
  -fx-font-size: 18;
  -fx-padding: 0 3 0 3;
}

.previous-command {
}

.next-command {
  -fx-font-size: 30;
  -fx-padding: 5;
}

.input-field, .output-field {
  -fx-margin: 0 0 0 15;
}

.machine-register-field {
  -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
  -fx-background-insets: 0, 1, 2;
  -fx-background-radius: 5, 4, 3;
}

.real-machine, .virtual-machine {
  -fx-border-width: 1 1 1 1;
  -fx-border-color: #000;
  -fx-padding: 5 5 5 5;
}

.machine-container {
  -fx-padding: 10 10 10 10;
}